/* CSS Document */

*, *:after, *:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  }
  ul {
  list-style: none;
  }
  a {
  text-decoration: none;
  outline: none;
  color: #0072c6;
  }
  img {
  width: 100%;
  }
  h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display';
  font-weight: normal;
  letter-spacing: 1px;
  }
  body {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 14px;
  line-height: 1;
  color: #373737;
  background: #f7f7f7;
  }



  /* Test 
 header{
  background-color: aqua;
 }

 #main{
   background-color: blueviolet;
 }

 #sidebar-right{
  background-color: brown;
}

footer{
  background-color: darkcyan;
}*/

.search > a{
  color: black
}

#main{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 10px;
		
}

article{
	
}

    /* блок для статьи */
    .post {
		padding: 10px;
		align-items: center;
		min-width: 300px;
		
      }
      .post-content p {
      line-height: 1.5;
      padding-bottom: 1em;
      }
      .category {
      margin-bottom: 15px;
      }
      .category a {
      color: #F8B763;
      text-transform: uppercase;
      }
      .post-title {
      margin-bottom: 12px;
      font-size: 26px;
      }
.post-img{
	overflow: hidden;
}
.post-img > img{
	transition: 0.5s;
	border: 0px;
}
.post-img > img:hover{
	transform: scale(1.5);
}


/* comments */
.size {
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    padding: 5px; /* Поля */
    text-overflow: ellipsis; /* Многоточие */
   }
   .size:hover {
    background: #f0f0f0; /* Цвет фона */
    white-space: normal; /* Обычный перенос текста */
   }


