/* CSS Document */

*, *:after, *:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  }
  ul {
  list-style: none;
  }
  a {
  text-decoration: none;
  outline: none;
  color: #0072c6;
  }
  img {
  width: 100%;
  }
  h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display';
  font-weight: normal;
  letter-spacing: 1px;
  }
  body {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 14px;
  line-height: 1;
  color: #373737;
  background: #f7f7f7;
  }



  /* Test 
 header{
  background-color: aqua;
 }

 #main{
   background-color: blueviolet;
 }

 #sidebar-right{
  background-color: brown;
}

footer{
  background-color: darkcyan;
}*/

.search > a{
  color: black
}

@media only screen and (min-width: 600px) {
.nav a {
	margin-left: 5px;
	height: 25px
  width: auto;
  border-radius: 3px;
  background-color: #ccc;
  padding: 2px 4px 2px 4px;
  text-decoration: none;
  color: #ffffff;
}
.nav a:hover {
  background-color: #0072c6;
  color: #ffffff;
}
}

#main{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 10px;
		
}

article{
	
}

    /* блок для статьи */
    .post {
		padding: 10px;
		align-items: center;
		min-width: 300px;
		
      }
      .post-content p {
      line-height: 1.5;
      padding-bottom: 1em;
      }
      .category {
      margin-bottom: 15px;
      }
      .category a {
      color: #0072c6;
      text-transform: uppercase;
      }
      .post-title {
      margin-bottom: 12px;
      font-size: 26px;
      }
.post-img{
	overflow: hidden;
}
.post-img > img{
	transition: 0.5s;
	border: 0px;
}
.post-img > img:hover{
	transform: scale(1.5);
}

.block{
	width: 100%;
	text-align: center;
	/*border: solid 1px black;*/
	margin-bottom: 25px;
}
.social{
	font-size: 22px;
	margin: 0px 5px;
}

.block-heder{
	border-bottom: solid 1px #0072c6;
	margin-bottom: 10px;
}
.profile-img{
	height: 100px;
	width: 100px;
	display: block;
    margin: 0 auto;
	border-radius: 100px; /* Радиус скругления */
    border: 1px solid #0072c6; /* Параметры рамки */
    box-shadow: 0 0 7px #666; /* Параметры тени */
	transition: 0.5s;
}
.profile-img:hover{
	transform: scale(1.15);
}

.name{
	margin-top: 10px;
}

.subscribe-form > input{
	margin-bottom: 10px;
	width: 80%;
}
input[type=text], input[type=email] {
    padding: 5px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus, input[type=email]:focus {
    border: 3px solid #0072c6;
}

input[type=submit] {
    width: 100%;
    background-color: #ccc;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #0072c6;
}


form.search input[type=text] {
    float: left;
	width: 85%;
}

form.search button {
	margin-top: 8px;
    float: left;
    width: 15%;
    padding: 6px;
    background: #ccc;
    color: white;
    font-size: 14px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.search button:hover {
    background: #0072c6;
}

form.search::after {
    content: "";
    clear: both;
    display: table;
}

.tags {
  width: 100%;
  color: #ffffff;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 300;
  line-height: 40px;
	text-align: left;
}

.tags a {
  width: auto;
  border-radius: 13px;
  background-color: #ccc;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  color: #ffffff;
}
.tags a:hover {
  background-color: #0072c6;
  color: #ffffff;
}

.comment{
	text-align: left;
}

.comment-img{
	height: 80px;
	width: 80px;
	margin-bottom: 10px;
	display: block;
	float: left;
	border-radius: 100px; /* Радиус скругления */
    border: 1px solid #0072c6; /* Параметры рамки */
    box-shadow: 0 0 7px #666; /* Параметры тени */
	transition: 0.5s;
}

.comment-img:hover{
	transform: scale(1.15);
}

.comment-name{
	text-overflow: ellipsis;
	margin-top: 28px;
	margin-left: 10px;
	float: left;
}


/* comments */
.size {
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    padding: 5px; /* Поля */
    text-overflow: ellipsis; /* Многоточие */
	transition: 0.5s;
   }
   .size:hover {
    background: #f0f0f0; /* Цвет фона */
    white-space: normal; /* Обычный перенос текста */
	   
   }


